ul#sidebar-blog.collapse.nav.nav-pills.nav-stacked(data-hook="admin_blog_sub_tabs")
  li = link_to "Create", spree.new_admin_blog_path
  / li = link_to "Edit", spree.edit_admin_blog_path
  li = link_to "View", spree.admin_blog_index_path